.post_wrapper {
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #142B3B;

    padding: 5px;

    overflow: hidden;
}

.post_wrapper img {
    border: solid;
    border-width: 0px;
    border-radius: 5px;
}

.post_text {
    word-wrap: break-word;
    margin: 5px 0px 5px 0px;
}

.post_likes {
    float: right;
}

.post_space {
    min-height: 20px; 
}
