.navbar {
    background-color: #142B3B;
    color: white;
    border-color: #0A161E;
}

.navbar-brand {
    color: white;
}

.navbar-default {
    color: white;
}

.content_wrapper {
    padding: 0 20px 0 20px;
}

body {
    width: 100vw;
	color: white ;
/*	background-color: #272B42; */
	background-color: #32678D;
}

a {
   color: #FFB339;
}

a:hover, a:focus {
    color: #CC8D2D;
    text-decoration: none;
}
