.avatar {
    border: solid;
    border-width: 0;
    border-radius: 10px;
}

body > div.container > table > tbody > tr > td.avatar_td {
    padding: 8px 8px 8px 0;
}

body > div.container > table > tbody > tr > td.userInfo_t {
    padding: 8px 0 8px 8px;
}
