<div class="post_wrapper">

    <div class="post_title">
        <img src="{{ post.author.avatar(36) }}">
        {% set user_link %}
        <a href="{{ url_for('user', username=post.author.username) }}">
            {{ post.author.username }}
        </a>
        {% endset %}
        {{ _('%(username)s', username=user_link) }} {{ _('said') }} {{ _('%(when)s', when=moment(post.timestamp).fromNow()) }}:
         
    </div>

    <div class="post_text">
        <span id="post{{ post.id }}">{{ post.body }}</span>
    </div>

    <div class="post_translate">
        {% if post.language %}
            <br><br>
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                              '#post{{ post.id }}',
                              '#translation{{ post.id }}',
                              '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
        {% endif %}
    </div>

    <div class="post_likes">
        {% if current_user.has_liked_post(post) %}
            <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">
                {{ _('Unlike') }}
            </a>
        {% else %}
            <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">
                {{ _('Like') }}
            </a>
        {% endif %}
        {{ post.likes.count() }} {{ _('likes') }}
    </div>

</div>
